<!DOCTYPE html>
<html lang="zh-cn">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />

        <title>网页模板/网页内容模板</title>

        <!-- Bootstrap framework -->
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>

        <!-- common style classes -->
        <link rel="stylesheet" href="../public/style/common_style_classes/common_style_classes.css" />
        <link rel="stylesheet" href="../public/style/common_style_classes/common_component.css" />

    </head>
    <body>

        <div class="page container-fluid">
            <div class="inner">

                <h1 class="mb20">模板</h1>

                <div class="content">

                    <div class="row">

                        <!-- 页面布局示例 -->
                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="_page_template.html">移动版列表页模板</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="cle_page_template.html">移动版文章页模板</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="_page_template_with_zhengxie_theme.html">移动版列表页模板政协主题</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="cle_page_template_with_zhengxie_theme.html">移动版文章页模板政协主题</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="r_template.html">视频播放器模板</a>
                                </div>
                            </div>
                        </div>

                        <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                            <div class="panel panel-default">
                                <div class="panel-body">
                                    <a href="_template.html">信件页面模板</a>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <!-- common function -->
        <script src="../public/script/common_script/common_function.js"></script>

        <!-- jQuery library -->
        <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>

        <!-- common action (must after jQuery) -->
        <script src="../public/script/common_script/common_action.js"></script>

    </body>
</html>
