<!DOCTYPE HTML>
<html lang="zh-cn">
    <head>
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>移动版列表页模板带政协主题</title>

        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>

        <link rel="stylesheet" href="../style/common_style_classes/common_style_classes.css"/>
        <link rel="stylesheet" href="../style/common_style_classes/common_component.css"/>
        <link rel="stylesheet" href="../style/theme/zhengxie_theme.css"/>

    </head>
    <body class="grey_bg">

        <div class="page white_bg max640">
            <div class="inner">

                <header class="header pageHeader mobileStyle">
                    <div class="inner">
                        <div class="leftBox">
                            <a class="button" href="javascript:;">返回</a>
                        </div>
                        <div class="title">Web 应用开发</div>
                        <div class="rightBox">
                            <a class="button" href="javascript:;">返回</a>
                        </div>
                    </div>
                </header>

                <div class="content pageBody">

                    <div class="inner">
                        <div class="congressDetailContent">

                            <article class="article congressDetail">
                                <h1 class="articleTitle">CSS 简介</h1>
                                <div class="articleContent">
                                    <p>什么是 CSS?</p>
                                    <p>样式表定义如何显示 HTML 元素，就像 HTML 3.2 的字体标签和颜色属性所起的作用那样。样式通常保存在外部的 .css 文件中。通过仅仅编辑一个简单的 CSS 文档，外部样式表使你有能力同时改变站点中所有页面的布局和外观。为了解决这个问题，万维网联盟（W3C），这个非营利的标准化联盟，肩负起了 HTML 标准化的使命，并在 HTML 4.0 之外创造出样式（Style）。</p>
                                    <p>当代浏览器都支持 CSS .</p>
                                </div>
                            </article>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    	
    	<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
        <script src="../script/common_script/common_function.js"></script>

    </body>
    
</html>
