<!DOCTYPE HTML>
<html lang="zh-cn">
    <head>
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <meta charset="UTF-8"/>

        <title>手机端网页</title>

        <!-- reset element default style -->
        <link rel="stylesheet" href="../asset/normalize.css"/>

        <link rel="stylesheet" href="../style/common_style_classes/common_style_classes.css"/>
        <link rel="stylesheet" href="../style/common_style_classes/common_component.css"/>
        <link rel="stylesheet" href="../asset/font-awesome-4.7.0/css/font-awesome.min.css"/>

        <!-- common style -->
        <!-- <link rel="stylesheet" href="style/common.css"/> -->

        <!-- special style for current page -->
        <!-- <link rel="stylesheet/less" type="text/css" href="pageName.less" /> -->

    </head>
    <body class="fullHeight" data-base-width="320">

        <div class="page max640">
            <div class="inner">

                <!-- page header -->
                <header class="header pageHeader mobileStyle">
                    <div class="inner">
                        <div class="leftBox">
                            <a class="button" href="javascript:;">返回</a>
                        </div>
                        <div class="title">手机端网页模板</div>
                        <div class="rightBox">
                            <a class="button" href="javascript:;">返回</a>
                        </div>
                    </div>
                </header>

                <!-- page main content -->
                <div class="content pageBody">

                    <div class="inner padding10">
            
                        <p class="alignCenter">Content</p>
            
                    </div>
                </div>

            </div>
        </div>
        
        <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
        <script src="../script/common_script/common_function.js"></script>
        <script src="../script/common_script/common_action.js"></script>

        <!-- special script for current page -->
        <!-- <script src="js/pageName.js"></script> -->

    </body>
    
</html>
