<!DOCTYPE HTML>
<html lang="cn">
    <head>
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>我的会议列表 - 委员之家</title>

        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>

        <link rel="stylesheet" href="../style/common_style_classes/common_style_classes.css"/>
        <link rel="stylesheet" href="../style/common_style_classes/common_component.css"/>
        <link rel="stylesheet" href="../style/theme/zhengxie_theme.css"/>

    </head>
    <body class="grey_bg">
    	
    	<div class="page white_bg max640">
			<div class="inner">

				<header class="header pageHeader mobileStyle">
					<div class="inner">
						<div class="title">我的会议列表</div>
					</div>
				</header>

    			<div class="content pageBody">

					<div class="inner">
						<div class="congressListContent padding20">
							<ul class="list concise congressList">
								<li>
									<a href="user_congress_item.html">
										区政协三届五次常委会
									</a>
								</li>
								<li>
									<a href="user_congress_item.html">
										区政协三届五次常委会
									</a>
								</li>
								<li>
									<a href="user_congress_item.html">
										区政协三届五次常委会
									</a>
								</li>

							</ul>
						</div>
					</div>

    			</div>
    		</div>
    	</div>
    	
    	<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
        <script src="../script/common_script/common_function.js"></script>

    </body>
    
</html>

