<!DOCTYPE HTML>
<html lang="zh-cn">
    <head>
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <meta charset="UTF-8"/>

        <title>我</title>

        <!-- reset element default style -->
        <link rel="stylesheet" href="../../asset/normalize.css"/>

        <link rel="stylesheet" href="../../style/common_style_classes/common_style_classes.css"/>
        <link rel="stylesheet" href="../../style/common_style_classes/common_component.css"/>
        <link rel="stylesheet" href="../../asset/font-awesome-4.7.0/css/font-awesome.min.css"/>

        <!-- phone client store common style -->
        <link rel="stylesheet" href="style/phone_client_store.css"/>

        <!-- special style for current page -->
        <link rel="stylesheet" href="style/me.css"/>

    </head>

    <!-- dangdang site: font size : window width ratio = 24 : 375 =  -->
    <body data-base-width="375">

        <div class="page max640">
            <div class="inner">

                <header class="header subPageHeader">
                    <a href="javascript:;" class="back" title="返回">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <div class="title">我</div>
                    <a href="javascript:;" class="menu">
                        <i class="fa fa-navicon"></i>
                    </a>
                </header>

                <div id="meContent">

                    <div class="user-info">
                        <section class="user-basic">
                            <div class="wrap">
                                <div class="user-img">
                                    <a href="my.php#/edit" class="myimg">
                                        <img class="user-avatar" src="http://img7x3.ddimg.cn/imghead/2/0/2063554181273-1_e.png?1558062781" alt="用户"/>
                                    </a>
                                </div>
                                <div class="user-detail">
                                    <div class="user-name">
                                        <a href="my.php#/edit" class="my">185***808</a>
                                        <div class="member-badge">普通会员</div>
                                    </div>
                                    <section class="remaining">
                                        <a href="cash.php?t=1558062801">
                                            <em>余额&nbsp;0.00</em>
                                        </a>
                                        <a href="gift_card.php?t=1558062801">
                                            <em>礼品卡&nbsp;0.00</em>
                                        </a>
                                        <a href="points.php?t=1558062801" class="sign_tag">
                                            <em>积分&nbsp;0.00</em>
                                        </a>
                                    </section>
                                </div>
                            </div>
                            <a class="user-main" href="my.php"></a>
                        </section>
                        <section class="user-stat clearFix">
                            <a id="product_collect_number" href="wishlist.php">
                                <em>2</em>收藏的商品
                            </a>
                            <a id="shop_collect_number" href="shop_collect.php">
                                <em>0</em>关注的店铺
                            </a>
                            <a id="read_history_count" href="products_history.php">
                                <em>5</em>我的足迹
                            </a>
                        </section>
                    </div><!-- end .user-info -->

                    <section class="f-section order-section">
                        <a class="slide-link" href="http://home.m.dangdang.com/order.php?action=list_type_order&amp;sid=7d530fef172554b10f2795a05b9596ae">
                            <img src="http://img63.ddimg.cn/upload_img/00487/11111/wd-012-1.png">我的订单
                            <em>查看全部购买商品</em></a>
                        <nav class="order-nav">
                            <ul>
                                <li style="width: 33.333333333333%">
                                    <a id="onlinepay_orders_count" href="order.php" class="pd-pay" style="background-image: url(http://img60.ddimg.cn/upload_img/00487/11111/fukuan-07.png)">待付款
                                    </a>
                                </li>
                                <li style="width: 33.333333333333%">
                                    <a id="confirm_orders_count" href="order.php" class="pd-pay" style="background-image: url(http://img63.ddimg.cn/upload_img/00487/11111/shouhuo-07.png)">待收货
                                    </a>
                                </li>
                                <li style="width: 33.333333333333%">
                                    <a href="afterSalesList" class="pd-pay" style="background-image: url(http://img61.ddimg.cn/upload_img/00555/touch/pd-return.png)">退换货
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </section>

                </div>

            </div>
        </div>

        <nav class="mobileBottomMenuContainer mobileBottomMenuLayout">
            <ul class="menu">
                <li class="item active">
                    <a class="button" href="index.html">
                        <i class="icon fa fa-home"></i><br/>首页
                    </a>
                </li>
                <li class="item">
                    <a class="button" href="cat.html">
                        <i class="icon fa fa-navicon"></i><br/>分类
                    </a>
                </li>
                <li class="item">
                    <a class="button" href="cart.html">
                        <i class="icon fa fa-shopping-cart"></i><br/>购物车
                    </a>
                </li>
                <li class="item">
                    <a class="button" href="me.html">
                        <i class="icon fa fa-user"></i><br/>我的
                    </a>
                </li>
                <!-- <li class="item">
                    <a class="button">首页</a>
                </li> -->
            </ul>
        </nav>
        
        <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
        <script src="../../script/common_script/common_function.js"></script>
        <script src="../../script/common_script/common_action.js"></script>

    </body>
    
</html>
