<!DOCTYPE HTML>
<html lang="zh-cn">
    <head>
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <meta charset="UTF-8"/>

        <title>购物车</title>

        <!-- reset element default style -->
        <link rel="stylesheet" href="../../asset/normalize.css"/>

        <link rel="stylesheet" href="../../style/common_style_classes/common_style_classes.css"/>
        <link rel="stylesheet" href="../../style/common_style_classes/common_component.css"/>
        <link rel="stylesheet" href="../../asset/font-awesome-4.7.0/css/font-awesome.min.css"/>

        <!-- phone client store common style -->
        <link rel="stylesheet" href="style/phone_client_store.css"/>

        <!-- special style for current page -->
        <link rel="stylesheet" href="style/cart.css"/>

    </head>

    <!-- dangdang site: font size : window width ratio = 24 : 375 =  -->
    <body data-base-width="375">

        <div class="page max640">
            <div class="inner">

                <header class="header subPageHeader">
                    <a href="javascript:;" class="back" title="返回">
                        <i class="fa fa-angle-left"></i>
                    </a>
                    <div class="title">购物车</div>
                    <a href="javascript:;" class="menu">
                        <i class="fa fa-navicon"></i>
                    </a>
                </header>

                <!-- banner-1 for home page -->
                <div class="bannerBlock" id="homeBanner">
                    <a href="javascript:;">
                        <img src="image/banner/home1.jpg" alt=""/>
                    </a>
                </div>

                <div id="cartContent" class="cartContent">

                    <!-- shop item -->
                    <div class="shopBlock">
                        <div class="cart_list">
                            <!--店铺级模块-->
                            <!--店铺头-->
                            <div class="shop_title clearfix" data-shop-id="10748">
                                <input type="checkbox" class="fl c_checkbox" checked="">
                                <div class="shopIcon fl common"></div>
                                <a class="fl shop_link" href="">
                                    <p class="title">百丽集团童鞋旗舰店</p>
                                    <p class="shop_in"></p>
                                </a>
                            </div>
                            <!--店铺头end-->

                            <div class="shopLine"></div>

                            <!--店铺商品-->

                            <!-- cart item -->
                            <div class="cart_item" item_id="749578692" ordnum="1">

                                <input type="checkbox" class="fl c_checkbox" checked="">

                                <!--商品图片-->
                                <a href="1241402814.html?ref=cart" class="fl pro_pic">
                                    <!-- discount image -->
                                    <img style="width:2.8rem;height:2.8rem;position: absolute;z-index: 1;right: 0rem;bottom: 0rem;" src="image/three_discount.png" alt=""/>
                                    <img class="pic" src="image/goods/01.jpg">
                                </a>
                                <!--商品图片end-->

                                <div class="item_show">
                                    <div class="detail clearfix">

                                        <!--商品名称-->
                                        <p class="fl prd_tit">
                                            <a href="1241402814.html?ref=cart" >【3折后到手价：104.4元】迪士尼Disney童鞋2019春季新款儿童运动鞋毛毛虫童鞋男女童运动鞋女童休闲鞋透气织布跑步鞋(0-13岁）DS3501_桃红-睡美人,14/参考脚长134mm</a>
                                        </p>
                                        <!--商品名称end-->

                                        <!--商品价格-->
                                        <p class="fl prd_price ">
                                            <span class="dangdang_price">￥348.00</span>
                                        </p>
                                        <!--商品价格end-->

                                        <!--商品标签-->
                                        <p class="clear tags clearfix"></p>
                                        <!--商品标签end-->
                                    </div>

                                    <!--商品数量颜色尺码-->
                                    <div class="prd_desc clearfix">
                                        <div class="prd_info clearfix fl">
                                            <span class="num fl eclipse">x1</span>
                                            <span class="color_size fl eclipse">桃红-睡美人/14/参考脚长134mm</span>
                                        </div>
                                    </div>
                                    <!--商品数量颜色尺码end-->
                                </div>

                            </div>
                            <!--集合促销商品end-->

                            <!--集合促销小计-->
                            <div class="promoFitShow row">
                                <div class="fitInfo fl"></div>
                                <div class="fitMoney fr">满N件折小计：
                                    <span>￥348.00</span>
                                </div>
                            </div>
                            <!--集合促销小计end-->

                            <!--店铺商品end-->

                            <!--店铺合计-->

                            <!-- <div class="shopPromoFit">
                            <div class="fitMoney fr">
                            店铺合计：<span>￥348.00</span></div>
                            </div> -->
                            <!--店铺合计end-->
                            <!--店铺级模块end-->
                        </div><!-- end cart_list -->
                    </div><!-- end shopBlock -->

                    <!-- shop item -->
                    <div class="shopBlock">
                        <div class="cart_list">
                            <!--店铺级模块-->
                            <!--店铺头-->
                            <div class="shop_title clearfix" data-shop-id="10748">
                                <input type="checkbox" class="fl c_checkbox" checked="">
                                <div class="shopIcon fl common"></div>
                                <a class="fl shop_link" href="">
                                    <p class="title">百丽集团童鞋旗舰店</p>
                                    <p class="shop_in"></p>
                                </a>
                            </div>
                            <!--店铺头end-->

                            <div class="shopLine"></div>

                            <!--店铺商品-->

                            <!-- cart item -->
                            <div class="cart_item" item_id="749578692" ordnum="1">

                                <input type="checkbox" class="fl c_checkbox" checked="">

                                <!--商品图片-->
                                <a href="1241402814.html?ref=cart" class="fl pro_pic">
                                    <!-- discount image -->
                                    <img style="width:2.8rem;height:2.8rem;position: absolute;z-index: 1;right: 0rem;bottom: 0rem;" src="image/three_discount.png" alt=""/>
                                    <img class="pic" src="image/goods/01.jpg">
                                </a>
                                <!--商品图片end-->

                                <div class="item_show">
                                    <div class="detail clearfix">

                                        <!--商品名称-->
                                        <p class="fl prd_tit">
                                            <a href="1241402814.html?ref=cart">【3折后到手价：104.4元】迪士尼Disney童鞋2019春季新款儿童运动鞋毛毛虫童鞋男女童运动鞋女童休闲鞋透气织布跑步鞋(0-13岁）DS3501_桃红-睡美人,14/参考脚长134mm</a>
                                        </p>
                                        <!--商品名称end-->

                                        <!--商品价格-->
                                        <p class="fl prd_price ">
                                            <span class="dangdang_price">￥348.00</span>
                                        </p>
                                        <!--商品价格end-->

                                        <!--商品标签-->
                                        <p class="clear tags clearfix"></p>
                                        <!--商品标签end-->
                                    </div>

                                    <!--商品数量颜色尺码-->
                                    <div class="prd_desc clearfix">
                                        <div class="prd_info clearfix fl">
                                            <span class="num fl eclipse">x1</span>
                                            <span class="color_size fl eclipse">桃红-睡美人/14/参考脚长134mm</span>
                                        </div>
                                    </div>
                                    <!--商品数量颜色尺码end-->
                                </div>

                            </div>
                            <!--集合促销商品end-->

                            <!--集合促销小计-->
                            <div class="promoFitShow row">
                                <div class="fitInfo fl"></div>
                                <div class="fitMoney fr">满N件折小计：
                                    <span>￥348.00</span>
                                </div>
                            </div>
                            <!--集合促销小计end-->

                            <!--店铺商品end-->

                            <!--店铺合计-->

                            <!-- <div class="shopPromoFit">
                            <div class="fitMoney fr">
                            店铺合计：<span>￥348.00</span></div>
                            </div> -->
                            <!--店铺合计end-->
                            <!--店铺级模块end-->
                        </div><!-- end cart_list -->
                    </div><!-- end shopBlock -->

                    <!-- shop item -->
                    <div class="shopBlock">
                        <div class="cart_list">
                            <!--店铺级模块-->
                            <!--店铺头-->
                            <div class="shop_title clearfix" data-shop-id="10748">
                                <input type="checkbox" class="fl c_checkbox" checked="">
                                <div class="shopIcon fl common"></div>
                                <a class="fl shop_link" href="">
                                    <p class="title">百丽集团童鞋旗舰店</p>
                                    <p class="shop_in"></p>
                                </a>
                            </div>
                            <!--店铺头end-->

                            <div class="shopLine"></div>

                            <!--店铺商品-->

                            <!-- cart item -->
                            <div class="cart_item" item_id="749578692" ordnum="1">

                                <input type="checkbox" class="fl c_checkbox" checked="">

                                <!--商品图片-->
                                <a href="1241402814.html?ref=cart" class="fl pro_pic">
                                    <!-- discount image -->
                                    <img style="width:2.8rem;height:2.8rem;position: absolute;z-index: 1;right: 0rem;bottom: 0rem;" src="image/three_discount.png" alt=""/>
                                    <img class="pic" src="image/goods/01.jpg">
                                </a>
                                <!--商品图片end-->

                                <div class="item_show">
                                    <div class="detail clearfix">

                                        <!--商品名称-->
                                        <p class="fl prd_tit">
                                            <a href="1241402814.html?ref=cart">【3折后到手价：104.4元】迪士尼Disney童鞋2019春季新款儿童运动鞋毛毛虫童鞋男女童运动鞋女童休闲鞋透气织布跑步鞋(0-13岁）DS3501_桃红-睡美人,14/参考脚长134mm</a>
                                        </p>
                                        <!--商品名称end-->

                                        <!--商品价格-->
                                        <p class="fl prd_price ">
                                            <span class="dangdang_price">￥348.00</span>
                                        </p>
                                        <!--商品价格end-->

                                        <!--商品标签-->
                                        <p class="clear tags clearfix"></p>
                                        <!--商品标签end-->
                                    </div>

                                    <!--商品数量颜色尺码-->
                                    <div class="prd_desc clearfix">
                                        <div class="prd_info clearfix fl">
                                            <span class="num fl eclipse">x1</span>
                                            <span class="color_size fl eclipse">桃红-睡美人/14/参考脚长134mm</span>
                                        </div>
                                    </div>
                                    <!--商品数量颜色尺码end-->
                                </div>

                            </div>
                            <!--集合促销商品end-->

                            <!--集合促销小计-->
                            <div class="promoFitShow row">
                                <div class="fitInfo fl"></div>
                                <div class="fitMoney fr">满N件折小计：
                                    <span>￥348.00</span>
                                </div>
                            </div>
                            <!--集合促销小计end-->

                            <!--店铺商品end-->

                            <!--店铺合计-->

                            <!-- <div class="shopPromoFit">
                            <div class="fitMoney fr">
                            店铺合计：<span>￥348.00</span></div>
                            </div> -->
                            <!--店铺合计end-->
                            <!--店铺级模块end-->
                        </div><!-- end cart_list -->
                    </div><!-- end shopBlock -->

                </div>

            </div>
        </div>

        <nav class="mobileBottomMenuContainer mobileBottomMenuLayout">
            <ul class="menu">
                <li class="item active">
                    <a class="button" href="index.html">
                        <i class="icon fa fa-home"></i><br/>首页
                    </a>
                </li>
                <li class="item">
                    <a class="button" href="cat.html">
                        <i class="icon fa fa-navicon"></i><br/>分类
                    </a>
                </li>
                <li class="item">
                    <a class="button" href="cart.html">
                        <i class="icon fa fa-shopping-cart"></i><br/>购物车
                    </a>
                </li>
                <li class="item">
                    <a class="button" href="me.html">
                        <i class="icon fa fa-user"></i><br/>我的
                    </a>
                </li>
                <!-- <li class="item">
                    <a class="button">首页</a>
                </li> -->
            </ul>
        </nav>

        <script src="../../asset/jquery/jquery-3.4.1.min.js"></script>
        <script src="../../asset/moment-with-locales.min.js"></script>
        <script src="../../asset/vue.2.6.10.min.js"></script>
        <script src="../../script/common_script/common_function.js"></script>

        <!-- app object  (require errorMessageList.js, common_function.js) -->
        <script src="../../js/errorMessageList.js"></script>
        <script src="../../js/app.js"></script>

        <script src="../../script/common_script/common_action.js"></script>

        <script src="js/cart.js"></script>

    </body>

</html>
