<!DOCTYPE HTML>
<html lang="zh-cn">
    <head>
        <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
        <meta charset="UTF-8"/>

        <title>商品详情页</title>

        <!-- reset element default style -->
        <link rel="stylesheet" href="../../public/asset/normalize.css"/>

        <link rel="stylesheet" href="../../public/style/common_style_classes/common_style_classes.css"/>
        <link rel="stylesheet" href="../../public/style/common_style_classes/common_component.css"/>
        <link rel="stylesheet" href="../../public/asset/font-awesome-4.7.0/css/font-awesome.min.css"/>

        <!-- phone client store common style -->
        <link rel="stylesheet" href="style/phone_client_store.css"/>

    </head>

    <!-- dangdang site: font size : window width ratio = 24 : 375 =  -->
    <body class="fullHeight" data-base-width="375">

        <div class="page max640">
            <div class="inner">

                <header class="header pageHeader" id="pageHeader">
                    <div class="logoBlock">
                        <a href="index.html">
                            <img src="image/tmall-logo-480-260.png" alt="logo"/>
                        </a>
                    </div>
                    <div class="searchBlock">

                        <form id="index_search_form" method="get" action="">

                            <div class="keywordsInputbox">

                                <input id="keyword" name="keyword" type="text" placeholder="儿童玩具，每满100减50" class="inputbox" autocomplete="off"/>

                                <button type="submit" class="searchButton">
                                    <i class="fa fa-search"></i>
                                </button>

                            </div>

                        </form>
                    </div>
                    <div class="header-category">
                        <a class="icon" href="category.html">
                            <i class="fa fa-navicon"></i>
                        </a>
                    </div>

                </header>

                <div class="bigPicBlock">



                </div>

                <section class="goods_detail">
                    <div class="intro">【预估到手价172.5元】Amii极简仙风优雅蕾丝网纱露肩连衣裙2019夏新落肩袖配腰带连衣裙_黑色,155/80A/S</div>
                    <div class="product_subname">每满200减100上不封顶 仅限5.14-5.15</div>
                    <div class="priceBox">
                        <div class="new_price_row">
                            <div class="new_left">
                                <div class="main_price_div">
                                    ¥
                                    <span class="main_price" id="main_price">345.00</span>
                                </div>
                                <span class="discount">(3.03折)</span>
                                <!-- 钻石vip,金卡vip,银卡vip,店铺vip -->
                            </div>

                            <!--降价提醒-->
                            <!-- <div class="price_remind">
                                <a class="notice" href="javascript:;">
                                    <span class="icon iconfont icon-jiangjiatixing1"></span>降价通知</a>
                            </div> -->
                            <!-- 电子书价 -->

                        </div>

                        <!-- 定价 -->
                        <div class="original_price_row">
                            <div class="original_price">吊牌价
                                <span class="line">¥1140.00</span>
                            </div>
                        </div>

                        <section class="quantity">
                            <h4>数量：</h4>
                            <div class="number_con">
                                <span class="minus on">-</span>
                                <div class="input">
                                    <input id="buy_num" type="text" value="1">
                                </div>
                                <span class="plus on">+</span>
                            </div>
                        </section>
                    </div>
                </section>

                <article class="article">

                    <p></p>
                    <p>
                        <img src="image/goods/d_1.jpg" alt=""/>
                    </p>
                    <p></p>
                    <p>
                        <img src="image/goods/d_2.jpg" alt=""/>
                    </p>
                    <p></p>

                </article>

            </div>
        </div>

        <div id="s-actionBar-container" class="productBottomMenu mobileProductBottomMenuLayout">
            <div class="action-bar-wrap">
                <a class="toshop cell" href="" target="_blank">
                    <i class="icon fa fa-home"></i><br/>
                    <span>店铺</span>
                </a>
                <a class="support cell" href="" target="_blank">
                    <i class="icon fa fa-user"></i><br/>
                    <span>客服</span>
                </a>
                <a class="addfav cell">
                    <i class="icon fa fa-star-o"></i><br/>
                    <span>收藏</span>
                </a>
                <div class="mods-wrap"></div>
                <div class="trade">
                    <a class="cart " role="button">
                        <p>加入购物车</p>
                    </a>
                    <!-- <a class="info" role="button"></a> -->
                    <a class="buy" role="button">
                        <p>立即购买</p>
                    </a>
                </div>
            </div>
        </div>

        <script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
        <script src="../../public/script/common_script/common_function.js"></script>
        <script src="../../public/script/common_script/common_action.js"></script>

    </body>

</html>
