<!DOCTYPE HTML>
<html lang="zh-cn">

<head>
    <meta name="viewport" content="initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta charset="UTF-8"/>

    <title>商城页模板</title>

    <!-- reset element default style -->
    <link rel="stylesheet" href="../../asset/normalize.css"/>

    <link rel="stylesheet" href="../../style/common_style_classes/common_style_classes.css"/>
    <link rel="stylesheet" href="../../style/common_style_classes/common_component.css"/>
    <link rel="stylesheet" href="../../asset/font-awesome-4.7.0/css/font-awesome.min.css"/>

    <!-- phone client store common style -->
    <link rel="stylesheet" href="style/phone_client_store.css"/>

    <!-- special style for current page -->
<!--    <link rel="stylesheet" href="../../css/store/cart.css"/>-->

</head>

<!-- dangdang site: font size : window width ratio = 24 : 375 =  -->
<body data-base-width="375">

    <div class="page max640" id="infoItem">

        <div class="inner padding10">

            <header class="header subPageHeader">
                <a href="javascript:history.back();" class="back" title="返回">
                    <i class="fa fa-angle-left"></i>
                </a>
                <div class="title">标题</div>
                <!--            <a href="javascript:;" class="menu">-->
                <!--                <i class="fa fa-navicon"></i>-->
                <!--            </a>-->
            </header>

            <div class="content">

            </div><!-- end content -->

        </div><!-- end inner -->

    </div><!-- end page -->

    <script src="../../asset/jquery/jquery-3.4.1.min.js"></script>
    <script src="../../asset/moment-with-locales.min.js"></script>
    <script src="../../asset/vue.2.6.10.min.js"></script>
    <script src="../../script/common_script/common_function.js"></script>

    <!-- app object  (require errorMessageList.js, common_function.js) -->
    <script src="../../config/errorMessageList.js"></script>
    <script src="../../script/app.js"></script>

    <script src="../../script/common_script/common_action.js"></script>

<!--    <script src="js/<pageName>.js"></script>-->

</body>
</html>
