<!DOCTYPE html>
<html lang="zh-cn" xmlns:v-bind="http://www.w3.org/1999/xhtml" xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>表单模板</title>

    <!-- Bootstrap framework -->
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.6/css/bootstrap-theme.min.css"/>

    <!-- common style classes library -->
    <link rel="stylesheet" href="../style/common_style_classes/common_style_classes.css"/>
    <link rel="stylesheet" href="../style/common_style_classes/common_component.css"/>

    <style>
        .codeContainer {
            color: green;
        }
        h2 {
            background-color: #f2f2f2;
            padding: 8px;
            border-radius: 6px;
        }
    </style>

</head>
<body>

<div class="page container-fluid">
    <div class="inner padding10">

        <h1>各种 form 代码生成</h1>

        <div id="basicFormCodeGenerator">

            <h2>基本表单代码</h2>

            <div class="row">

                <div class="col-xs-12 col-md-6">

                    <p>选项</p>

                    <form>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-6">
                                <label>ID</label>
                                <div class="">
                                    <input class="form-control" type="text" v-model="id"/>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                <label>class 类</label>
                                <div class="">
                                    <input class="form-control" type="text" v-model="classAttr"/>
                                </div>
                            </div>
                        </div>

                        <div class="row">

                            <div class="form-group col-xs-12 col-md-6">
                                <label>action 动作</label>
                                <div class="">
                                    <input class="form-control" type="text" v-model="action"
                                           placeholder="不填为当前网址"/>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-6">
                                <label>method 提交方法</label>
                                <div class="">
                                    <label class="radio-inline">
                                        <input type="radio" value="post" name="method" v-model="method"/>POST
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="" name="method" v-model="method"/>GET (默认)
                                    </label>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label>是否需要上传文件(需使用post方法)</label>
                            <div class="">
                                <label class="checkbox-inline">
                                    <input type="checkbox" v-model="needUploadFile" value="true" />是
                                </label>
                            </div>
                        </div>

                    </form>

                </div><!-- end .col-* -->

                <div class="col-xs-12 col-md-6">

                    <p>表单代码</p>

                    <div class="codeContainer border_radius">
                        &lt;form<span v-if="classAttr"> class=&quot;{{classAttr}}&quot;</span><span v-if="id"> id=&quot;{{id}}&quot;</span> action=&quot;{{action}}&quot;<span v-if="method"> method=&quot;{{method}}&quot;</span><span v-if="needUploadFile"> enctype=&quot;multipart/form-data&quot;</span>&gt;<br/>
                        表单内容...<br/>
                        &lt;/form&gt;
                    </div>

                </div>
            </div><!-- end .row -->

        </div><!-- end #basicFormCodeGenerator -->

        <div id="textboxCodeGenerator">

            <h2>输入框组</h2>

            <div class="row">

                <div class="col-xs-12 col-md-6">

                    <p>选项：</p>

                    <form>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-4">
                                <label>label 文本</label>
                                <div class="">
                                    <input type="text" class="form-control" v-model="label"/>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-4">
                                <label>ID</label>
                                <div class="">
                                    <input type="text" class="form-control" v-model="id"/>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-4">
                                <label>name</label>
                                <div class="">
                                    <input type="text" class="form-control" v-model="name"/>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                <label>class 类</label>
                                <div class="">
                                    <input type="text" class="form-control" v-model="classAttr"/>
                                </div>
                            </div>

                            <div class="form-group col-xs-12">
                                <label>type 输入类型</label>
                                <div class="">
                                    <label class="radio-inline">
                                        <input type="radio" value="text" v-model="type"/>文本
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="password" v-model="type"/>密码
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="email" v-model="type"/>E-mail
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="number" v-model="type"/>数值
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="tel" v-model="type"/>电话号码
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="url" v-model="type"/>网址
                                    </label>
                                    <br/>
                                    <label class="radio-inline">
                                        <input type="radio" value="date" v-model="type"/>日期
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="time" v-model="type"/>时间
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="datetime-local" v-model="type"/>
                                        本地日期时间(webkit核心支持)
                                    </label>
                                    <br/>
                                    <label class="radio-inline">
                                        <input type="radio" value="month" v-model="type"/>
                                        月份(webkit核心支持)
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="week" v-model="type"/>
                                        星期(周)(webkit核心支持)
                                    </label>


                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-6">
                                <label>value 初始值</label>
                                <div class="">
                                    <input type="text" class="form-control" v-model="value"/>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-6">
                                <label>placeholder</label>
                                <div class="">
                                    <input type="text" class="form-control" v-model="placeholder"/>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-3">
                                <label>required 必填？</label>
                                <div class="">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="yes" v-model="required"/>是
                                    </label>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-3">
                                <label>autocomplete 自动完成</label>
                                <div class="">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="on" v-model="autocomplete"/>ON
                                    </label>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                <label>autofocus 自动获取焦点<br/>（一般设置在第一个上）</label>
                                <div class="">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="autofocus" v-model="autofocus"/>ON
                                    </label>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

                <div class="col-xs-12 col-md-6">

                    <div class="mb10">
                        <p>演示：</p>
                        <div>
                            <label v-bind:for="id">
                                {{label}}
                                <span class="red" v-if="required">*</span>
                            </label>
                            <input v-bind:id="id" v-bind:class="classAttr" v-bind:type="type" v-bind:name="name"
                                   v-bind:placeholder="placeholder"/>
                        </div>
                    </div>

                    <div class="mb10">
                        <p>代码：</p>
                        <div class="codeContainer">
                            &lt;div class=&quot;form-group&quot;&gt;<br/>
                                &lt;label<span v-if="id"> for=&quot;{{id}}&quot;</span>&gt;<br/>
                                    {{label}}<span v-if="required">&lt;span class=&quot;red&quot;&gt;*&lt;/span&gt;</span><br/>
                                &lt;/label&gt;<br/>
                                &lt;input<span v-if="id"> id=&quot;{{id}}&quot;</span><span v-if="classAttr"> class=&quot;{{classAttr}}&quot;</span> type=&quot;{{type}}&quot;<span v-if="value"> value=&quot;{{value}}&quot;</span><span v-if="name"> name=&quot;{{name}}&quot;</span><span v-if="placeholder"> placeholder=&quot;{{placeholder}}&quot;</span><span v-if="required"> required=&quot;required&quot;</span><span v-if="autocomplete"> autocomplete=&quot;on&quot;</span><span v-if="autofocus"> autofocus=&quot;autofocus&quot;</span>/&gt;<br/>
                            &lt;/div&gt;
                        </div>
                    </div>

                </div>
            </div><!-- end .row -->

        </div><!-- end #textboxCodeGenerator -->

        <div id="rangeSliderCodeGenerator">

            <h2>范围滑动条组</h2>

            <div class="row">

                <div class="col-xs-12 col-md-6">

                    <p>选项：</p>

                    <form>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-4">
                                <label>label 文本</label>
                                <div class="">
                                    <input type="text" class="form-control" v-model="label"/>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-4">
                                <label>ID</label>
                                <div class="">
                                    <input type="text" class="form-control" v-model="id"/>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-4">
                                <label>name</label>
                                <div class="">
                                    <input type="text" class="form-control" v-model="name"/>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                <label>class 类</label>
                                <div class="">
                                    <input type="text" class="form-control" v-model="classAttr"/>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-6">
                                <label>value 初始值</label>
                                <div class="">
                                    <input type="text" class="form-control" v-model="value"/>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-6">
                                <label>最小值</label>
                                <div class="">
                                    <input type="number" class="form-control" v-model="min"/>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-6">
                                <label>最大值</label>
                                <div class="">
                                    <input type="number" class="form-control" v-model="max"/>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

                <div class="col-xs-12 col-md-6">

                    <div class="mb10">
                        <p>演示：</p>
                        <div>
                            <label v-bind:for="id">
                                {{label}}
                            </label>
                            <input v-bind:id="id" v-bind:class="classAttr" type="range" v-bind:name="name"
                                v-bind:min="min" v-bind:max="max"/>
                        </div>
                    </div>

                    <div class="mb10">
                        <p>代码：</p>
                        <div class="codeContainer">
                            &lt;div class=&quot;form-group&quot;&gt;<br/>
                                &lt;label<span v-if="id"> for=&quot;{{id}}&quot;</span>&gt;{{label}}<br/>
                                &lt;/label&gt;<br/>
                                &lt;input<span v-if="id"> id=&quot;{{id}}&quot;</span><span v-if="classAttr"> class=&quot;{{classAttr}}&quot;</span> type=&quot;{{type}}&quot;<span v-if="value"> value=&quot;{{value}}&quot;</span><span v-if="min"> min=&quot;{{min}}&quot;</span><span v-if="max"> max=&quot;{{max}}&quot;</span><span v-if="name"> name=&quot;{{name}}&quot;</span>/&gt;<br/>
                            &lt;/div&gt;
                        </div>
                    </div>

                </div>
            </div><!-- end .row -->

        </div><!-- end #rangeSliderCodeGenerator -->

        <div id="optionGroupCodeGenerator">

            <h2>选项框组</h2>

            <div class="row">

                <div class="col-xs-12 col-md-6">

                    <p>选项：</p>

                    <form>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-4">
                                <label>label 文本</label>
                                <div class="">
                                    <input type="text" class="form-control" v-model="label"/>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-4">
                                <label>name</label>
                                <div class="">
                                    <input type="text" class="form-control" v-model="name"/>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-4">
                                <label>value 默认值</label>
                                <div class="">
                                    <input type="text" class="form-control" v-model="defaultValue"/>
                                </div>
                            </div>

                            <div class="form-group col-xs-12">
                                <label>type 类型</label>
                                <div class="">
                                    <label class="radio-inline">
                                        <input type="radio" value="radio" v-model="type"/>radio 单选框
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="checkbox" v-model="type"/>checkbox 复选框
                                    </label>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-6">
                                <label>选项框的值（一行一个）</label>
                                <div class="">
                                    <textarea class="form-control" v-model="valueText" rows="5"></textarea>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

                <div class="col-xs-12 col-md-6">

                    <div class="mb10">
                        <p>演示：</p>

                        <div>
                            <label>{{label}}</label>
                            <div>
                                <label class="radio-inline" v-for="optionItem in getOptionitems()">
                                    <input v-bind:type="type" v-bind:name="name" v-bind:value="optionItem"
                                        v-bind:checked="optionItem == defaultValue"/>
                                    {{optionItem}}
                                </label>
                            </div>
                        </div>

                    </div>

                    <div class="mb10">
                        <p>代码：</p>
                        <div class="codeContainer">
                            &lt;div class=&quot;form-group&quot;&gt;<br/>
                            &lt;label&gt;{{label}}&lt;/label&gt;<br/>
                            &lt;div&gt;<br/>
                            <div v-for="optionItem in getOptionitems()">
                            &lt;label class=&quot;{{type}}-inline&quot;&gt;<br/>
                                &lt;input type=&quot;{{type}}&quot; name=&quot;{{name}}&quot;
                                    value=&quot;{{optionItem}}&quot;
                                    <span v-if="defaultValue && optionItem == defaultValue">checked=&quot;checked&quot;</span>/&gt;<br/>
                                    {{optionItem}}<br/>
                                &lt;/label&gt;
                            </div>
                            &lt;/div&gt;
                            &lt;/div&gt;
                        </div>
                    </div>

                </div>
            </div><!-- end .row -->

        </div><!-- end #optionGroupCodeGenerator -->

        <div id="buttonCodeGenerator">

            <h2>按钮</h2>

            <div class="row">

                <div class="col-xs-12 col-md-6">

                    <p>选项：</p>

                    <form>
                        <div class="row">
                            <div class="form-group col-xs-12 col-md-6">
                                <label>text 文本</label>
                                <div class="">
                                    <input type="text" class="form-control" v-model="text"/>
                                </div>
                            </div>
                            <div class="form-group col-xs-12 col-md-6">
                                <label>type 类型</label>
                                <div class="">
                                    <label class="radio-inline">
                                        <input type="radio" value="button"
                                            v-model="type"/>button
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="submit"
                                               v-model="type"/>submit
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio" value="reset"
                                               v-model="type"/>reset
                                    </label>
                                </div>
                            </div>
                        </div>
                        <div class="row">

                            <div class="form-group col-xs-12 col-md-6">
                                <label>class 类</label>
                                <div class="">
                                    <input type="text" class="form-control" v-model="classAttr"/>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-6">
                                <label>圆角？</label>
                                <div class="">
                                    <label class="checkbox-inline">
                                        <input type="checkbox" value="yes" v-model="radius"/>是
                                    </label>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-8">
                                <label>尺寸</label>
                                <div class="">
                                    <button type="button" class="button xs" v-on:click="sizeClass='xs'">超小按钮</button>
                                    <button type="button" class="button small" v-on:click="sizeClass='small'">小按钮</button>
                                    <button type="button" class="button" v-on:click="sizeClass=''">普通按钮</button>
                                    <button type="button" class="button large" v-on:click="sizeClass='large'">大按钮</button>
                                </div>
                            </div>

                            <div class="form-group col-xs-12 col-md-8">
                                <label>颜色</label>
                                <div class="">
                                    <button type="button" class="button" v-on:click="colorClass=''">默认</button>
                                    <button type="button" class="button red"
                                         v-on:click="colorClass='red'">红色</button>
                                    <button type="button" class="button darkred"
                                         v-on:click="colorClass='darkred'">深红色</button>
                                    <button type="button" class="button orange"
                                         v-on:click="colorClass='orange'">橙色</button>
                                    <button type="button" class="button yellow"
                                         v-on:click="colorClass='yellow'">黄色</button>
                                    <button type="button" class="button green"
                                         v-on:click="colorClass='green'">绿色</button>
                                    <button type="button" class="button darkgreen"
                                         v-on:click="colorClass='darkgreen'">深绿色</button>
                                    <button type="button" class="button cyan"
                                         v-on:click="colorClass='cyan'">青色(蓝绿色)</button>
                                    <button type="button" class="button blue"
                                         v-on:click="colorClass='blue'">蓝色</button>
                                    <button type="button" class="button pink"
                                         v-on:click="colorClass='pink'">粉红色</button>
                                    <button type="button" class="button purple"
                                         v-on:click="colorClass='purple'">紫色</button>
                                </div>
                            </div>

                        </div>
                    </form>
                </div>

                <div class="col-xs-12 col-md-6">

                    <div class="mb10">
                        <p>演示：</p>
                        <div>
                            <button v-bind:class="getClassAttr()" v-bind:type="type">{{text}}</button>
                        </div>
                    </div>

                    <div class="mb10">
                        <p>代码：</p>
                        <div class="codeContainer">
                            &lt;button class=&quot;{{getClassAttr()}}&quot; type=&quot;{{type}}&quot;&gt;{{text}}&lt;/button&gt;<br/>
                        </div>
                    </div>

                </div>
            </div><!-- end .row -->

        </div><!-- end #buttonCodeGenerator -->

        <div class="row">

            <div class="col-xs-12 col-md-6">

                <form>

                    <div class="form-group">
                        <label>下拉选项（单选）</label>
                        <div>
                            <select class="form-control">
                                <option value="A" selected="selected">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>选项菜单（多选）</label>
                        <div>
                            <select class="form-control" multiple="multiple">
                                <option value="A" selected="selected">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>选择文件(单文件)</label>
                        <div>
                            <input type="file" name="file"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label>选择文件(多文件)</label>
                        <div>
                            <input type="file" name="files" multiple="multiple"/>
                        </div>
                    </div>

                </form>

            </div>

        </div>
    </div>
</div>

<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
<script src="../asset/vue.2.5.16.js"></script>
<script src="../script/common_script/common_function.js"></script>
<script src="../script/common_script/common_action.js"></script>

<script>
$('code').each(function(){
    var src = $(this).data('code-src');
    if (!src)
    {
        return;
    }

    var srcEle = $(src);
    if (!srcEle.length)
    {
        return;
    }
    var htmlCode = srcEle[0].outerHTML;
    var htmlCodeLines = htmlCode.split("\n");
    htmlCodeLines = removeSpaceInAheadOfLine(htmlCodeLines);
    this.innerHTML = EncodeHtml(htmlCodeLines.join("\n"));
});
</script>

<script>
    var basicFormCodeGgenerator = new Vue({
        el : '#basicFormCodeGenerator',
        data : {
            id : '',
            classAttr : 'form',
            action : '',
            method : '',
            needUploadFile : false
        }
    });
    var textboxCodeGenerator = new Vue({
        el : '#textboxCodeGenerator',
        data : {
            label : 'label 文本',
            id : '',
            name : '',
            classAttr : 'form-control',
            type: 'text',
            value : '',
            required : '',
            placeholder : '',
            autocomplete : 'on',
            autofocus : ''
        }
    });
    var optionGroupCodeGenerator = new Vue({
        el : '#optionGroupCodeGenerator',
        data : {
            label : 'label 文本',
            name : '',
            type: 'radio',
            valueText : '',
            defaultValue : ''
        },
        methods : {
            /**
             * get options list from value inputbox
             * @returns Array
             */
            getOptionitems : function(){
                var valueText = this.valueText;
                var options = valueText.split("\n");
                return options;
            }
        }
    });
    var rangeSliderCodeGenerator = new Vue({
        el : '#rangeSliderCodeGenerator',
        data : {
            label : 'label 文本',
            id : '',
            name : '',
            classAttr : '',
            value : '',
            min : '',
            max : '',
            autofocus : ''
        }
    });
    var buttonCodeGenerator = new Vue({
        el : '#buttonCodeGenerator',
        data : {
            text : '提交',
            type : 'submit',
            radius : 'yes',
            sizeClass : '',
            colorClass : '',
            classAttr : 'button'
        },
        methods : {
            getClassAttr : function(){
                var classList = this.classAttr.split(' ');
                this.sizeClass ? classList.push(this.sizeClass) : null;
                this.colorClass ? classList.push(this.colorClass) : null;
                this.radius ? classList.push('rounded') : null;
                return classList.join(' ');
            }
        }
    });

</script>

</body>
</html>