

.shixun_v2 .h1 {
    font-size: 100%;
}

.shixun_v2 .h2 {
    font-size: 100%;
}

.shixun_v2 .h3 {
    font-size: 100%;
}

.shixun_v2 .primaryTextColor {
    color : #333;
}

.shixun_v2 .secondaryTextColor {
    color : #999;
}

.shixun_v2 .highlightTextColor {
    color : #ff9800;
}

.shixun_v2 .primaryLinkColor {
    color : #333;
}

.shixun_v2 .secondaryLinkColor {
    color: black;
}

.shixun_v2 .defaultNavLinkColor {
    color: #999;
}

.shixun_v2 .activeNavLinkColor {
    color: #8a00ff;
}

.shixun_v2 .priceColor {
    color: red;
}

.shixun_v2 .button {
    display: inline-block;
    width: auto;
    height: auto;
    font-size: 75%;
    line-height: 300%;
    color: black;
    background: white;
    border-radius: 8px;
    outline: none;
    border: solid 1px lightgrey;
    padding: 0 15px;
}

.shixun_v2 .button_default.button_loading,
.shixun_v2 .button_default.button_disabled,
.shixun_v2 .button_default:disabled {
    background: #efefef;
    color: #393939;
}

.shixun_v2 .button_blue,
.shixun_v2 .button_primary {
    color: #fff;
    background-color: #8a00ff;
    border: solid 1px #7c00e6;
}

.shixun_v2 .button_primary.button_loading,
.shixun_v2 .button_primary.button_disabled,
.shixun_v2 .button_primary:disabled {
    background-color: #c178ff;
    border-color: #a965e2;
}

.shixun_v2 .button_green,
.shixun_v2 .button_success {
    color: #fff;
    background-color: #4cd964;
    border: 1px solid #4cd964;
}

.shixun_v2 .button_success.button_loading,
.shixun_v2 .button_success.button_disabled,
.shixun_v2 .button_success:disabled {
    background-color: #7ddd90;
}

.shixun_v2 .button_yellow,
.shixun_v2 .button_warning {
    color: black;
    background-color: #FFEB3B;
    border: solid 1px #FFEB3B;
}

.shixun_v2 .button_warning.button_loading,
.shixun_v2 .button_warning.button_disabled,
.shixun_v2 .button_warning:disabled {
    background-color: #fff486;
}

.shixun_v2 .button_red,
.shixun_v2 .button_danger {
    color: #fff;
    background-color: #dd524d;
    border: 1px solid #dd524d;
}

.shixun_v2 .button_danger.button_loading,
.shixun_v2 .button_danger.button_disabled,
.shixun_v2 .button_danger:disabled {
    background-color: #dd8382;
}

