/* exam list */

.exam_list_container {

}

.exam_list_container .exam_list {
    min-height: 240px;
    padding: 10px;
    background-color: #FFF;
    border-radius: 8px;
    clear: both;
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    .exam_list_container .exam_list {
        padding: 30px;
    }
}

.exam_list_container .main_title {
    font-size: 22px;
    line-height: 30px;
    width: 300px;
    margin-left: auto;
    margin-right: auto;
    color: #007FFF;
    border-bottom: solid 1px #007FFF;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 4px;
    margin-bottom: 20px;
}

@media screen and (min-width: 768px) {
    .exam_list_container .main_title {
        line-height: 40px;
        font-size: 30px;
        padding-top: 30px;
        padding-bottom: 10px;
        margin-bottom: 30px;
    }
}

.exam_list .exam_item {
    clear: both;
    overflow: hidden;
    margin-bottom: 20px;
}

.exam_list .number_box,
.exam_list .status_box,
.exam_list .title_box,
.exam_list .score_box {
    float: left;
    border-radius: 2px;
    border: solid 1px #666;
    box-sizing: border-box;
    overflow: hidden;
}

.exam_list .number_box {
    width: 32px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
}

.exam_list .status_box {
    width: 75px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    margin-right: 20px;
    color: #FFF;
    margin-bottom: 10px;
}

.exam_list .title_box {
    width: 300px;
    height: 32px;
    line-height: 30px;
    padding-left: 12px;
    margin-right: 20px;
    margin-bottom: 10px;
}

@media screen and (min-width: 640px) {
    .exam_list .title_box {
        width: 610px;
    }
}

@media screen and (min-width: 768px) {
    .exam_list .title_box {
        width: 610px;
    }
}

@media screen and (min-width: 1440px) {
    .exam_list .title_box {
        width: 950px;
    }
}

.exam_list .score_box {
    width: 64px;
    height: 32px;
    line-height: 30px;
    text-align: center;
    margin-bottom: 10px;
}

/* exam content */
.exam_container .inner_box {
    width: 80%;
    margin: 0 auto 20px;
}

@media screen and (min-width: 768px) {
    .exam_container .inner_box {
        width: 60%;
    }
}

.exam_title {
    text-align: center;
    font-size: 20px;
    margin-bottom: 10px;
    color: #fff;
    padding-top: 12px;
}

.exam_topic {
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.6);
    border: solid 1px #CCC;
    border-radius: 4px;
    min-height: 120px;
    padding: 10px;
    font-size: 18px;
    line-height: 28px;
}

.topic_title {
    margin-bottom: 10px;
    line-height: 30px;
    min-height: 100px;
}

.left_time_box {
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 16px;
    line-height: 48px;
}

.topic_number_box {
    font-size: 130%;
    margin-bottom: 10px;
    text-align: center;
}

.topic_number {

}

.exam_topic .option_box {
    min-height: 100px;
}

.exam_topic .right_answer_box {
    margin-bottom: 20px;
}

.exam_topic .right_answer {
    color: #F00;
}

.exam_topic .option_item {
    display: inline-block;
    margin-right: 20px;
    /*background: #c6e7ff;*/
    border-radius: 4px;
    padding: 0 8px;
    cursor: pointer;
}

.exam_topic .option_item.active {
    background-color: #2a8bcc;
    color: #FFF;
}

.exam_topic .option_item.right_option {
    background-color: #9ac118;
    color: #FFF;
}

.exam_topic .option_item:hover {
    background: #a3d7ff;
    color: #FFF;
}

.exam_topic .option_name {
    font-weight: 700;
}

.exam_topic .option_text {
    font-weight: normal;
}

.exam_topic .option_item .radio {
    display: inline-block;
}

.exam_topic .operation_box .btn-default,
.exam_topic .operation_box .btn-default:focus,
.exam_topic .operation_box .btn-default:active,
.exam_topic .operation_box .btn-default:hover {
    background: #FFF;
}

.exam_result_container {
    margin-bottom: 60px;
}

.exam_result_container .inner_box {
    background-color: #FFF;
    background-color: rgba(255, 255, 255, 0.6);
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    height: 600px;
    overflow: auto;
}

@media screen and (min-width: 768px) {
    .exam_result_container .inner_box {
        width: 60%;
    }
}

.exam_result_container .intro_box {
    color: #f00;
    padding: 10px 0;
    text-align: center;
}

.exam_result_container .result_list {
    overflow: hidden;
    padding: 20px;
}

.exam_result_container .result_item {
    position: relative;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    margin-bottom: 20px;
    cursor: pointer;
}

.exam_result_container .result_item .number_box,
.exam_result_container .result_item .icon_box {
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
}

.exam_result_container .result_item .number_box {

    width: 30px;
    height: 30px;
    line-height: 30px;

    margin-top: 2px;

    border: solid 1px #999;
    border-radius: 2px;

    text-align: center;
}

.exam_result_container .result_item .icon_box {
    left: 45px;
    width: 32px;
    height: 32px;
}

.exam_result_container .result_item .icon {
    width: 32px;
    height: 32px;
}

.exam_result_container .result_item .icon_box .right_icon {
    background: url(image/right_icon.png) no-repeat;
}

.exam_result_container .result_item .icon_box .wrong_icon {
    background: url(image/wrong_icon.png) no-repeat;
}

.exam_result_container .result_item .title_box {
    padding-left: 100px;
}

