<!DOCTYPE html>
<html lang="zh-cn" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>生平故事</title>
    <link rel="stylesheet" href="../../public/asset/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../public/asset/bootstrap-3.3.7/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="../../public/style/common_style_classes/common_style_classes.css"/>
    <link rel="stylesheet/less" href="style/memorial_hall.less"/>
    <style>
    .liveStory {
        line-height: 1.5;
    }
    </style>
    <script src="../../public/asset/less.min.js"></script>
</head>
<body>

    <div class="header" id="pageHeader">
        <div class="inner">
            <div class="titleContainer">
                <div class="title">{{title}}</div>
            </div>
        </div>
    </div>

    <div class="content pageContent">
        <div class="inner">

            <article class="liveStory">

                <p>　　张国荣（1956年9月12日－2003年4月1日）生于中国香港，是一位在全球华人社会和亚洲地区具有影响力的著名歌手、演员和音乐人，大中华地区乐坛和影坛巨星，演艺圈多栖发展最成功的代表之一。他是1980年代香港乐坛的殿堂级歌手之一，曾获得香港乐坛最高荣誉金针奖。他是第一位享誉韩国乐坛的华人歌手，亦是华语唱片在韩国销量纪录保持者。他于1991年当选香港电影金像奖影帝；1993年主演的《霸王别姬》打破中国内地文艺片在美国的票房纪录，他亦凭此片蜚声国际影坛，并获得日本影评人大奖最佳男主角奖以及中国电影表演艺术学会奖特别贡献奖。
                </p>

                <p>　　张国荣籍贯广东省梅县，是一位在全球华人社会和亚洲地区具有影响力的演艺人士，华人演艺圈多栖发展最成功的代表之一。
                </p>

                <p>　　作为歌手，他是粤语流行音乐的代表人物之一，在香港乐坛享有崇高地位。他是第一位享誉韩国乐坛的华人歌手，亦是华语唱片在韩国销量纪录保持者。1977年他获得“亚洲业余歌手大赛”亚军并由此进入歌坛。1983年推出唱片《风继续吹》，与唱片同名的粤语主打歌成为他历来最受欢迎的歌曲之一。1984年他的一曲《Monica》在香港唱至街知巷闻，这首歌也奠定了张国荣歌坛巨星的地位。1987年他的大碟 《Summer Romane 》销量突破七白金， 成为当年IFPI 香港唱片销量冠军；此后他的唱片屡屡斩获白金销量的佳绩，专辑《宠爱》全亚洲年度销量突破200万张，香港本地销量超过六白金，位居IFPI香港分会公布的全年唱片销量榜榜首。
                </p>

                <p>　　作为音乐人，他作词、作曲四十余首，曾经连续两届担任香港作曲家及作词家协会的“音乐大使”。他谱写的歌曲先后获得台湾金马奖“最佳原创电影歌曲奖”、“十大中文金曲奖”、“十大劲歌金曲奖”、“中国原创音乐榜金曲奖”等多项大奖,并且5次获得金像奖和金马奖的最佳原创歌曲奖提名；1988年由他亲自作曲的《沉默是金》成为传唱不衰的经典名曲。他担任监制的唱片获得过香港乐坛唱片类的多项大奖；他担任艺术总监的演唱会被美国《时代》杂志评价为“Top in Passion and Fashion ”；他导演的MTV、音乐电影和公益短片都得到了业界的广泛好评。
                </p>

                <p>　　作为演员，他是华语影坛巨星。从影24年来他一共出演了56部电影，香港本埠票房总成绩达7.76亿港币，票房号召力居香港男演员前列。在1996年，张国荣主演的电影有3部进入当年香港票房年度十强。他个人以精湛的演技，先后获得包括戛纳国际电影节、威尼斯国际电影节、香港金像奖、台湾金马奖在内的十八个影帝提名，当选香港电影金像奖最佳男主角、香港电影评论学会大奖最佳男主角、日本影评人大奖最佳男主角、东京电影评论家大奖最佳男主角。他戏路宽广，无论是文艺片、喜剧片亦或是剧情片，皆能挥洒自如，并以自己的气质和天赋塑造了一个个经典的银幕形象：他曾荣获中国电影表演艺术学会奖特别贡献奖，并且受邀担任柏林国际电影节 和东京国际电影节评委，为繁荣香港影业作出了卓越的贡献。他主演的电影曾获法国戛纳国际电影节金棕榈大奖、美国电影金球奖最佳外语片奖、国际影评人联盟大奖费比西奖以及中国两岸三地多个电影节的最佳电影奖。2004年，他获得香港电影金像奖追颁的“演艺光辉永恒大奖”，同年留名香港尖沙咀“星光大道”。2005年，他入选“中国电影百年百位优秀演员”行列；同年，金像奖协会评选了“中国电影百年百部最佳华语片”，他主演的电影有八部，入选作品数量居华人演员之冠。2010年，香港电影评论学会评选了“十大香港电影”，其代表作《阿飞正传》位列第一位。
                </p>

                <p>　　张国荣的影响力不仅广及两岸三地，在亚洲地区他亦具有很高的知名度，是具有国际影响力的亚洲巨星。从20世纪80年代起，他在韩国就有着极高的人气，是韩国最受欢迎的国外明星之一。他是第一位享誉韩国乐坛的华人歌手；他创造了华语唱片在韩国的销量纪录，韩国当地唱片商亦惊奇原来中文唱片也可赚取丰厚利润，于是逐渐留意中国音乐；电影方面，他首先以影片《倩女幽魂》打入韩国市场，并于1989年同时当选韩国最受欢迎外国歌星、影星第一位；而后来的一部国际大片《霸王别姬》则令他当选1994年韩国最受欢迎外国影星第一位。2003年，韩国电影频道OCN联同21家电影网合作举办“百大影星”评选，张国荣排海外影星第一位。2009年，韩国首尔举办了以“张国荣”名字命名的电影节以示纪念。　
                </p>

                <p>　　他是第一位获得“日本影评人大奖"最佳男主角”的华人男演员，并于1993年受邀担任日本东京国际电影节评委。1994年他主演的电影《霸王别姬》在日本公映时反响强烈，曾在东京创下连续放映43周的奇迹。1996年他获得日本著名杂志《ASIA POP》颁发的“人气最旺”、“最佳艺人”两项大奖。1998年他成为有日本“时代杂志”之称的著名新闻周刊《AERA》的封面人物。他是在日本开演唱会场次最多的华人男歌手，并且两度刷新香港歌手在日本开演唱会的场次纪录：1997年他在日本连开六场演唱会，打破了香港歌手在日本开演唱会的场次纪录。2000----2001年他在日本举办十场巡回演唱会，场场爆满，并再次打破香港歌手在日本开演唱会的场次纪录。2000-2001年，他位居日本Yahoo外国明星人气榜第一位。2001年，他获得日本拥有最多会员的亚洲电影影迷会“CineCity”评选的“最佳男演员奖”，该奖项举办11年，张国荣有十年夺冠。2004年，他当选日本最大的娱乐月刊《日经娱乐》评出的“在日本最受欢迎的十大亚洲男艺人”。2006年，日本国家电视台NHK举办在日本最受欢迎的演员评选，张国荣当选“国际十佳男演员”，是唯一上榜的华人男演员。　
                </p>

                <p>　　在泰国，他凭借电视剧《浣花洗剑录》而走红。在马来西亚，他曾于2000年在可容纳三万人的吉隆坡默迪卡体育场举办大型演唱会，并且全场爆满。在新加坡，他曾经多次举办演唱会，1995他发行的专辑《宠爱》在新加坡销量排行榜上位居第一。2005年 ，新加坡《联合早报》举办“亚洲明星人气50强”评选，他位居第四位，这也是香港艺人历年来最佳名次。　
                </p>

            </article>

        </div>
    </div>

    <nav class="menuPanel">
        <div class="inner">
            <ul class="menu">
                <li>
                    <a href="home.html">纪念主页</a>
                </li>
                <li>
                    <a href="live_story.html">生平故事</a>
                </li>
                <li>
                    <a href="picture_album.html">回忆相册</a>
                </li>
                <li>
                    <a href="video_list.html">精彩视频</a>
                </li>
            </ul>
        </div>
    </nav>

    <script src="../../public/asset/require.js"></script>
    <script src="js/appConfig.js"></script>
    <script src="js/home.js"></script>

</body>
</html>

