<!DOCTYPE html>
<html lang="zh" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <title>帐号登录</title>
    <link rel="stylesheet" href="../../asset/bootstrap-3.3.7/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../../asset/bootstrap-3.3.7/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="../../style/common_style_classes/common_style_classes.css"/>
    <link rel="stylesheet/less" href="css/common.less"/>
    <script src="../../asset/less.min.js"></script>
</head>
<body>

    <div class="page">

        <div class="content pageContent loginContent">

            <div class="inner padding10">
                <form id="loginForm" v-on:submit="submit($event)">

                    <div class="form-group">
                        <label for="nameInputbox">
                            帐号：<span class="red">*</span>
                        </label>
                        <input id="nameInputbox" class="form-control" type="text" name="name"
                            placeholder="请输入帐号名" required="required" autocomplete="on"
                            autofocus="autofocus" v-model="name"/>
                    </div>

                    <div class="form-group">
                        <label for="passwordInputbox">
                            密码：<span class="red">*</span>
                        </label>
                        <input id="passwordInputbox" class="form-control" type="password" name="password"
                            placeholder="请输入密码" required="required" autocomplete="on" v-model="password"/>
                    </div>

                    <div class="form-group">
                        <button class="button green rounded" type="submit">登录</button>
                    </div>

                </form>
            </div>
        </div>

    </div>

    <script src="../../asset/require.js"></script>
    <script src="js/appConfig.js"></script>
    <script src="js/login.js"></script>

</body>
</html>

