@charset "utf-8";
/*!
 * classes for special style
 * version: $VERSION
 * author: Kevin Kwan
 * E-mail: zhiwen2720@163.com
 * url: https://github.com/xiaowen0/Web-Common-Style-And-Script
 */

/* reset child element, body tag add resetChildElement class, then its children are reset default style. */

.resetChildElement div,
.resetChildElement p,
.resetChildElement h1,
.resetChildElement h2,
.resetChildElement h3,
.resetChildElement h4,
.resetChildElement h5,
.resetChildElement h6,
.resetChildElement ul,
.resetChildElement ol,
.resetChildElement dl {
    margin: 0;
    padding: 0;
}

.resetChildElement a {
    text-decoration: none;
}

.resetChildElement img {
    border-style: none;
}

.resetChildElement ul {
    list-style: none none;
}

/* display type */
.inline {
    display: inline;
    width: auto;    /* block element's default width is 100% */
}

.block {
    display: block;
    /* don't set 100% width, its parent maybe has padding, so current element maybe overflow. */
}

.inlineBlock {
    display: inline-block;
}

.hidden, .hide, .testingData {
    display: none;
}

.testMode .testingData {
    display: block;
}

/* container layout */
.center,
.centered {
    margin-left: auto;
    margin-right: auto
}

.fl {
    float: left
}

.fr {
    float: right
}

.clear {
    clear: both
}

.clearfix:before,
.clearfix:after {
    display: table;
    content: " ";
    clear: both;
}

/* width */
.w120 {
    width: 120px;
    box-sizing: border-box;
}

.w240 {
    width: 240px;
    box-sizing: border-box;
}

.w360 {
    width: 360px;
    box-sizing: border-box;
}

.h120 {
    height: 120px;
    box-sizing: border-box;
}

.h240 {
    height: 240px;
    box-sizing: border-box;
}

.h360 {
    height: 360px;
    box-sizing: border-box;
}

.A4_paper {
    width: 210mm;
    height: 297mm;
    box-sizing: border-box;
    background-color: white;
}

.w100p {
    width: 100%;
    box-sizing: border-box;
}

.h100p {
    height: 100%;
    box-sizing: border-box;
}

.w80p {
    width: 80%;
    box-sizing: border-box;
}

.w70p {
    width: 70%;
    box-sizing: border-box;
}

.w50p {
    width: 50%;
    box-sizing: border-box;
}

.w40p {
    width: 40%;
    box-sizing: border-box;
}

.w30p {
    width: 30%;
    box-sizing: border-box;
}

.w20p {
    width: 20%;
    box-sizing: border-box;
}
.w25p,
.wQuarter{
    width: 20%;
    box-sizing: border-box;
}

.min_w40,
.min40 {
    min-width: 40px;
    box-sizing: border-box;
}

.min_w80,
.min80 {
    min-width: 80px;
    box-sizing: border-box;
}

.min_w120,
.min120 {
    min-width: 120px;
    box-sizing: border-box;
}

.min_w160,
.min160 {
    min-width: 160px;
    box-sizing: border-box;
}

.max_w120,
.max120 {
    max-width: 160px;
    box-sizing: border-box;
}

.max_w160,
.max160 {
    max-width: 160px;
    box-sizing: border-box;
}

.max_w200,
.max200 {
    max-width: 200px;
    box-sizing: border-box;
}

.max_w320,
.max320 {
    max-width: 320px;
    box-sizing: border-box;
}
.max375,
.maxW375 {
    max-width: 375px;
}
.max_w640,
.max640 {
    max-width: 640px;
    box-sizing: border-box;
}
.max_w720,
.max720 {
    max-width: 720px;
    box-sizing: border-box;
}

/* width and height uniform */
.wh40 {
    width: 40px;
    height: 40px;
    box-sizing: border-box;
}

.wh80 {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
}

.limit_max_width {
    max-width: 100%;
}

.lineHeight20r12f {
    line-height: 166.66%;
}
.lineHeight20r14f {
    line-height: 142.85%;
}
.lineHeight20r16f {
    line-height: 125%;
}
.lineHeight30r14f {
    line-height: 214.28%;
}
.lineHeight30r16f {
    line-height: 187.5%;
}
.lineHeight30r18f {
    line-height: 166.66%;
}

.hiddenOverflow {
    overflow: hidden;
}

.hiddenXoverflow {
    overflow-x: hidden;
}

/* margin & padding */
.no-margin,
.noMargin {
    margin: 0;
}
.mt10 {
    margin-top: 10px;
}
.mb10 {
    margin-bottom: 10px;
}
.mt20 {
    margin-top: 20px;
}
.mb20 {
    margin-bottom: 20px;
}
.ml10 {
    margin-left: 10px;
}
.mr10 {
    margin-right: 10px;
}
.ml20 {
    margin-left: 20px;
}
.mr20 {
    margin-right: 20px;
}

.padding10,
.pd10 {
    padding: 10px;
}

.horizontalPadding10,
.hpd10 {
    padding-left: 10px;
    padding-right: 10px;
}

.verticalPadding10,
.vpd10 {
    padding-top: 10px;
    padding-bottom: 10px;
}

.padding20 {
    padding: 20px;
}

.padding20mm {
    padding: 20mm;
}

.no-padding,
.noPadding {
    padding: 0;
}

/* background */
.no_bg {
    background: none;
}

.white_bg {
    background-color: white;
}

.grey_bg {
    background-color: #EEE;
}

.black_bg {
    background-color: #000;
}

.blue_bg,
.primary_bg {
    color: #fff;
    background-color: #337ab7;
}

.green_bg,
.success_bg {
    background-color: #aaff99;
}

.yellowgreen_bg {
    background-color: yellowgreen;
}

.info_bg {
    background-color: #d9edf7;
}

.deepskyblue_bg {
    color: #fff;
    background-color: deepskyblue;
}

.yellow_bg,
.warning_bg {
    background-color: #ddff99;
}

.pink_bg {
    background-color: pink;
}

.red_bg,
.error_bg,
.danger_bg {
    background-color: #f2dede;
}

.starryNightBg {
    background-color: black;
    background-image:
            radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
            radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
            radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
            radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
}

.rainbow_bg {
    background: -webkit-linear-gradient(left, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #ff0000, #ffff00, #00ff00, #00ffff, #0000ff, #ff00ff, #ff0000); /* 标准的语法 */
}

.heartsBg {
    background:
            radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%),
            radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%),
            radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%),
            radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%),
            radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%),

            radial-gradient(circle closest-side at 60% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
            radial-gradient(circle closest-side at 40% 43%, #b03 26%, rgba(187,0,51,0) 27%) 50px 50px,
            radial-gradient(circle closest-side at 40% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
            radial-gradient(circle closest-side at 60% 22%, #d35 45%, rgba(221,51,85,0) 46%) 50px 50px,
            radial-gradient(circle closest-side at 50% 35%, #d35 30%, rgba(221,51,85,0) 31%) 50px 50px;
    background-color:#b03;
    background-size:100px 100px;
}

.honeyCombBg {
    background:
            radial-gradient(circle farthest-side at 0% 50%,#fb1 23.5%,rgba(240,166,17,0) 0)21px 30px,
            radial-gradient(circle farthest-side at 0% 50%,#B71 24%,rgba(240,166,17,0) 0)19px 30px,
            linear-gradient(#fb1 14%,rgba(240,166,17,0) 0, rgba(240,166,17,0) 85%,#fb1 0)0 0,
            linear-gradient(150deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
            linear-gradient(30deg,#fb1 24%,#B71 0,#B71 26%,rgba(240,166,17,0) 0,rgba(240,166,17,0) 74%,#B71 0,#B71 76%,#fb1 0)0 0,
            linear-gradient(90deg,#B71 2%,#fb1 0,#fb1 98%,#B71 0%)0 0 #fb1;
    background-size:40px 60px;
}

.tablecloth {
    background-color:white;
    background-image: linear-gradient(90deg, rgba(200,0,0,.5) 50%, transparent 50%),
    linear-gradient(rgba(200,0,0,.5) 50%, transparent 50%);
    background-size:50px 50px;
}

/* align */
.align_left,
.alignLeft {
    text-align: left;
}

.align_center,
.alignCenter {
    text-align: center;
}

.align_right,
.alignRight {
    text-align: right;
}

.align_justify,
.justify {
    text-align: justify;
}

.alignTop {
    vertical-align: top;
}
.alignMiddle {
    vertical-align: middle;
}
.alignBottom {
    vertical-align: bottom;
}

/* font */
.msyh {
    font-family: "微软雅黑", "黑体";
}

.f12 {
    font-size: 12px;
}
.f13 {
    font-size: 13px;
}
.f14 {
    font-size: 14px;
}
.f15 {
    font-size: 15px;
}
.f16 {
    font-size: 16px;
}
.f18 {
    font-size: 18px;
}

.f80p,
.fontSmaller {
    font-size: 80%
}

.f90p {
    font-size: 90%
}

.f110p {
    font-size: 110%
}

.f120p,
.fontBigger {
    font-size: 120%
}

.f130p {
    font-size: 130%
}

/* font size relative to 16px */
.f10r16 {
    font-size: 62.5%;
}
.f12r16 {
    font-size: 75%;
}
.f14r16 {
    font-size: 87.5%;
}
.f16r16 {
    font-size: 100%;
}
.f18r16 {
    font-size: 112.5%;
}
.f20r16 {
    font-size: 125%;
}



.bold {
    font-weight: 700
}

.lighter {
    font-weight: lighter;
}

.noDecoration {
    text-decoration: none;
}

.underline {
    text-decoration: underline;
}

.textDelete {
    text-decoration: line-through;
}

/* text color */
.red,
.error,
.price {
    color: #dd5a43;
}
.pink {
    color: #e6aeb9;
}
.addressText {
    color: #333;
}
.orangered {
    color: orangered;
}

.orange {
    color: #e69100;
}

.yellow {
    color: #f5ea18;
}

.greenyello {
    color: #9ee62c;
}

.green, .success {
    color: #69aa46;
}

.olive {
    color: #919100;
}

.blue {
    color: #478fca;
}

.skyblue {
    color: #82cae7;
}

.purple {
    color: #9c179c;
}

.white {
    color: #fff;
}

.grey, .more,
.datetime,
.phoneNumber {
    color: #999;
}

.darkgrey, .date {
    color: #666
}

.rainbowColor {
    background: -webkit-linear-gradient(left, red, orangered, orange, gold, yellowgreen, green, deepskyblue, blue, purple, deeppink); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, red, orangered, orange, gold, yellowgreen, green, deepskyblue, blue, purple, deeppink); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, red, orangered, orange, gold, yellowgreen, green, deepskyblue, blue, purple, deeppink); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, red, orangered, orange, gold, yellowgreen, green, deepskyblue, blue, purple, deeppink); /* 标准的语法 */
    background-clip: unset;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* blink */

@keyframes blink_keyframes {
    0%{opacity: 1;}
    50%{opacity: 1;}
    50.01%{opacity: 0;} /* 注意这里定义50.01%立刻透明度为０，可以设置闪烁效果 */
    100%{opacity: 0;}
}

@-webkit-keyframes blink_keyframes {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-moz-keyframes blink_keyframes {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-ms-keyframes blink_keyframes {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

@-o-keyframes blink_keyframes {
    0% { opacity: 1; }
    50% { opacity: 1; }
    50.01% { opacity: 0; }
    100% { opacity: 0; }
}

.blink {
    -webkit-animation: blink_keyframes .75s linear infinite;
    -moz-animation: blink_keyframes .75s linear infinite;
    -ms-animation: blink_keyframes .75s linear infinite;
    -o-animation: blink_keyframes .75s linear infinite;
    animation: blink_keyframes .75s linear infinite;
}

/* text column */

.textColumn2 {
    -moz-column-count:2; /* Firefox */
    -webkit-column-count:2; /* Safari 和 Chrome */
    column-count:2;
}

.textColumn3 {
    -moz-column-count:3; /* Firefox */
    -webkit-column-count:3; /* Safari 和 Chrome */
    column-count:3;
}

.textColumn4 {
    -moz-column-count:4; /* Firefox */
    -webkit-column-count:4; /* Safari 和 Chrome */
    column-count:4;
}

/* mouse cursor */
.hand,
.link {
    cursor: pointer
}

/* border */

.border {
    border: solid 1px #efefef;
}
.noBorder {
    border: 0 none;
}
.lightBorder {
    border: solid 1px lightgrey;
}
.darkBorder {
    border: solid 1px darkgrey;
}
.greyBorder {
    border-color: grey;
}
.bottomBorder {
    border-bottom: solid 1px #CCCCCC;
}

.redBorder {
    border-color: #dd5a43;
}
.pinkBorder {
    border-color: #e6aeb9;
}
.orangeBorder {
    border-color: #e69100;
}
.yellowBorder {
    border-color: #f5ea18;
}
.greenBorder {
    border-color: #69aa46;
}
.blueBorder {
    border-color: #478fca;
}
.skyblueBorder {
    border-color: #82cae7;
}
.whiteBorder {
    border-color: #fff;
}

.roundBorder,
.roundCorner,
.roundBorder8 {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.borderRadius4,
.roundBorder4 {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}
.borderRadius6,
.roundBorder6 {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    border-radius: 6px;
}
.borderRadius10 {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.no-radius {
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    border-radius: 0;
}

/* rotate animation
 * keyframes need: keyframes -webkit-keyframes -moz-keyframes
 */
@-webkit-keyframes rotate2d {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@-moz-keyframes rotate2d {
    0% {
        -moz-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes rotate2d {
    /*
     * transform need: transform -webkit-transform -moz-transform -ms-transform
     */
    0% {
        -moz-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -moz-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

.rotate,
.rotate2d {

    /* for old version of google chrome, safari, opera */
    -webkit-animation-name: rotate2d;
    -webkit-animation-duration: 20s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    /* for old version of firefox */
    -moz-animation-name: rotate2d;
    -moz-animation-duration: 20s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: rotate2d;
    animation-duration: 20s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

.rotateFast {

    /* for old version of google chrome, safari, opera */
    -webkit-animation-name: rotate2d;
    -webkit-animation-duration: 3s;
    -webkit-animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;

    /* for old version of firefox */
    -moz-animation-name: rotate2d;
    -moz-animation-duration: 3s;
    -moz-animation-timing-function: linear;
    -moz-animation-iteration-count: infinite;

    animation-name: rotate2d;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}

/* paragraph */
.indent_2em {
    text-indent: 2em;
}

p.mute {
    color: #777;
}

p.primary {
    color: #337ab7;
}

p.success {
    color: #3c763d;
}

p.info {
    color: #31708f;
}

p.warning {
    color: #8a6d3b;
}

p.danger,
p.error {
    color: #a94442;
}

/* object fit type */

.fitTypeContain {
    object-fit: contain;
}
.fitTypeCover {
    object-fit: cover;
}


/* shape style */

.circle {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

.disk {
    border: 3px solid #000;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

/* outline */

.noOutline {
    outline : none;
}

/* opacity */

.transparent,
.trans {
    opacity: 0.8;
}

.transparent70 {
    opacity: 0.7;
}

.transparent50 {
    opacity: 0.5;
}

.hoverNoOpacity:hover,
.hoverNoOpacity.hover {
    opacity: 1;
}

/* shadow */

.shadow {
    box-shadow: 1px 1px 5px #666
}

input.noShadow,
select.noShadow {
    box-shadow: none;
}

/* text shadow */

.tshadow,
.textShadow {
    text-shadow: 0 0 10px #333
}

.circle1, .cart1, .embossed1, .embossed2 {
    border-radius: 20px
}

/* transition  链接切换效果 */

.transition {
    transition: all .1s ease-in-out 0.2s;
    -webkit-transition: all .1s ease-out;
    -o-transition: all .1s ease-in-out 0.2s;
    -moz-transition: all .1s ease-in-out 0.2s;
}

.transition1 {
    transition: all 1s linear 0s;
    -webkit-transition: all 1s linear 0s;
    -o-transition: all 1s linear 0s;
    -moz-transition: all 1s linear 0s;
}

.transition2 {
    transition: all 2s linear 0s;
    -webkit-transition: all 2s linear 0s;
    -o-transition: all 2s linear 0s;
    -moz-transition: all 2s linear 0s;
}

.transition5 {
    transition: all 5s linear 0s;
    -webkit-transition: all 5s linear 0s;
    -o-transition: all 5s linear 0s;
    -moz-transition: all 5s linear 0s;
}

